@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 10px;
}

body {
  @apply bg-cream-50 text-gray-900;
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-cream-50 text-gray-900;
  }
}
